.SwipeButton{
display: flex;
    align-items: center;

  justify-content:space-evenly;
   
    text-align: center;
  margin-left: 400px;
  margin-right: 400px;
 

    width: 35vw;
  
    margin-top:8vh ;

    bottom: 10vh;
  
height:5vh ;
border-radius:2px 2px 2px 2px ;

}



.foto{
    align-items: center;

  justify-content: space-between;
   
    text-align: center;

    width: 35vw;
 
    margin-left: 400px;
    margin-right: 400px;
background-color: brown;
  
    
    border-radius: 20px;
  
    margin-top: 10px;
    box-shadow: 20px 22px 20px 20px rgba(214, 100, 100, 0.9);
    justify-items: center;
   
 
 
}
.id{
    display: none;
    
}